<!DOCTYPE html>
<html >
<head>

  <base href="/popup/apps/">

  <title>popup</title>

  <script src="/commons/flowbite/flowbite.js" ></script>
  <script type="module" src="/popup/js/tabs.js" defer></script>
  <link href="/popup/css/popup.css" rel="stylesheet" />

  <link href="/commons/flowbite/flowbite.min.css" rel="stylesheet" />
  <script src="/commons/flutter.js" defer></script>
  <script src="/popup/js/go.js" type="application/javascript"></script>

</head>
<body>


<div style="display: block;  margin-left: auto;  margin-right: auto;  width: 85%;">
</br>
   <div  class="mb-4 border-b border-gray-200 dark:border-gray-700">
          <ul id="myTab" data-tabs-toggle="#myTabContent" role="tablist" class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400">

             
        {{#each projects}}
          {{#if (app_is_popup target)}}
             <li class="w-full" role="presentation">
                  <a href="#" id="{{id}}-tab" data-tabs-target="#{{id}}" type="button" role="tab" aria-controls="{{id}}" aria-selected="false" class="tablink inline-block w-full p-4 text-gray-900 bg-gray-100 rounded-l-lg focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white" >{{name}} </a>
             </li>
          {{/if}}
         {{/each}}
           <li class="w-full" role="presentation">
                  <a href="#" id="appresources-tab" data-tabs-target="#appresources" type="button" role="tab" aria-controls="appresources" aria-selected="false" class="tablink inline-block w-full p-4 text-gray-900 bg-gray-100 rounded-l-lg focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white" >Info</a>
             </li>
  
    </ul>
</div>
<div id="myTabContent">
   {{#each projects}}
        {{#if (app_is_popup target)}}    
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
        <div style="margin: auto;height: 74vb;width: 100vb;" id="flutter_app-{{id}}" ></div>
        </br></br>  
        </div>
       {{/if}}
   {{/each}}
     
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="appresources" role="tabpanel" aria-labelledby="appresources-tab">
     
    </br></br>  
     {{#each projects}}
        {{#if (app_is_popup target)}}
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white">{{name}}</h2>
              </br></br>  
            {{#each info_links}}
              <a href="{{{link}}}" target="_blank" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{title}}</a>
              </br></br></br>  
            {{/each}}
        {{/if}}  
    {{/each}}
  </div>
  
</div>
</div>
</body>
</html>
